/to_git_ignore/**

/frontend/node_modules
/frontend/build
/frontend/coverage

/backend/.env
/backend/src/**/secrets.py
/backend/__pycache__

# testing
/coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
